body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(88, 46, 136);
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-grow: 0;
  align-items: center;
  background-color: #000000;
  width: 100vw;
  margin: 0;
}

h1 {
  color:rgb(184, 142, 192);
  font-weight: 100;
}

.content {
  display: flex;
  justify-content: flex-start;
  max-width: 80vw; /* Stjornar breidd  */
  flex-grow: 0;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  margin: 10px;
  border-radius: 10px;
}

.list {
  margin: 20px;
  padding: 0px;
  padding-left: 20px;
}

li {
  margin: 3px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 18pt;
  color:rgb(184, 142, 192)
}

p {
  font-size: 13pt;
  color:rgb(140, 101, 168);
}

/*    LINKS     */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a.h1:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
